body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  #navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #51829B;
    z-index: 1000;
  }
  
  #navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  #navbar li {
    display: inline-block;
  }
  
  #navbar li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
  }
  
  #navbar li a:hover {
    background-color: #555;
  }
  
  #content {
    margin-top: 5000px; 
    scrollbar-width: 5px;
  }
  
  section {
    padding: 20px;
    margin: 20px 0;
    background-color: #f9f9f9;
  }
  